<div class="header">
  <h1>Edit Leaderboard</h1>
</div>

<div class="box">

  <%= render 'form' %>

</div>

<%# link_to 'Show', [@app, @leaderboard] %>
<%# link_to 'Back', app_leaderboards_path(@app) %>
