*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
dashboard/.bundle
dashboard/vendor/bundle
dashboard/log/*
dashboard/tmp/*
dashboard/db/*.sqlite3
dashboard/public/system/*
dashboard/coverage/
dashboard/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.zeus.sock
tmp/
system.yml
provisioning/tmp/
