email: "lou@example.org"
public_key: "ssh-rsa AAAAFAKEFAKEFAKEAAADAQABAAABAQDFRzB64kvrxWHOE8zRYqb9K1hCqFWViw5I2PZyWXAm675ETZGXV+37H+RRUtIlNDecNF41G4qRBqo34IxORgppVuuFPNibc576u6nCFJbNRjiTV8BonhYTKgpFCl+4HfvxD/TLdbOSf1CkgDn0wkEXKF+ASxv+By6DC05jRxtAUv0dIA/LBrHThbCPremzfXhsw+3qJUDCdFfmMiWcEs4In7SPuPEnTT5WTx1QJNmFyrGktyuPzim1iWN53IpapXsMqvE0ZDGVsECoYV8OvRQXesAV5l+hp2rbH00ZI8HVCmp9WTq2bUA8cE49miFa0kS0WDlyPtO5COcROsk+Jngf lou@mac.local"
