<div class="header">
  <h1><%= link_to 'Your Apps', apps_path %> <!--<span>/</span> <%# link_to @app.name, @app %>-->  <span>/</span>  Social Challenges</h1>
</div>

 <div class="box welcome">
    <h1>Social Challenges</h1>
    <h2>Configure your leaderboards to send push notifications as ranks change...</h2>
    <%= link_to new_app_path do %>
      Start using Social Challenges
    <% end %>
  </div>
</div>



