
@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin transition {
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

@mixin rowHeader{
  background:#f5f5f5;
  background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top, #fff 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top, #fff 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top, #fff 0%,#f5f5f5 100%);
  background: linear-gradient(top, #fff 0%,#f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f5f5f5',GradientType=0 );
}

@mixin button{
  color:#fff;
  cursor: pointer;
  text-decoration: none;
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  display: inline-block;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  border:none;
  &:hover{
    color:#fff;
  }
}

@mixin blueButton{
  @include button;
  background: #3498db;
  -webkit-box-shadow:0 2px 0 #2980B9;
  -moz-box-shadow:0 2px 0 #2980B9;
  box-shadow:0 2px 0 #2980B9;
  &:hover{  
    background: #5dade2;
  }
  &:active{}

}


@mixin silverButton{
    @include button;
    color:#fff;
    background: #95A5A6;
    -webkit-box-shadow:0 2px 0 #7F8C8D;
    -moz-box-shadow:0 2px 0 #7F8C8D;
    box-shadow:0 2px 0 #7F8C8D;
    &:hover{
      background: #aab7b7;
    }
    &:active{}
}

@mixin greenButton{
  @include button;
  background: #1abc9c;
  -webkit-box-shadow:0 2px 0 #16A085;
  -moz-box-shadow:0 2px 0 #16A085;
  box-shadow:0 2px 0 #16A085;
  &:hover{
    background:#48c9b0;
  }
  &:active{}
}

@mixin redButton{
  @include button;
  background: #e74c3c;
  &:hover{
    background:#ec7063;
  }
  &:active{}
}

@mixin topButton{
  color:#d6eaf8;
  font-size:13px;
  letter-spacing: 1px;
  padding:24px 20px;
  display:inline-block;
  font-weight:normal;
  text-decoration:none;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  &:hover{
    color:#fff;
  }

}


