<div class="header">
  <h1>Edit Achievement</h1>
</div>

<div class="box">

  <%= render 'form' %>

</div>

<%# link_to 'Show', [@app, @achievement] %>
<%# link_to 'Back', app_achievements_path(@app) %>
